@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Alex;
  src: local('Alex'), url('./fonts/Alex.ttf') format('truetype');
}

html {
  height: 100%;
}

.Alex {
  font-family: Alex;
}

@font-face {
  font-family: 'Allura';
  src: url('./fonts/Allura.ttf') format('truetype'),
}

.Allura {
  font-family: 'Allura'
}

@font-face {
  font-family: 'AMATIC';
  src: url('./fonts/AMATIC.ttf') format('truetype'),
}

.AMATIC {
  font-family: 'AMATIC'
}

.script {
  background-color: lightslategray;
}

.standard {
  background-color: lightgray;
}

body,main{
  padding: 0;
  min-width: 400px;
  height: 100%;
}


